@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.signature {
  align-self: flex-start;
  h2 {
    font-family: "Shadows Into Light";
    color: #666666;
    font-size: 48px;
  }
}
