@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("../components/Main/Main.css");
@import url("../components/Banner/Banner.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

p {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
